/0511-P05.pdf
/creditapproval-testing (1).csv
/creditapproval-testing.xls
/creditapproval_cleaned.csv
/project ADS 2.ipynb
/project ADS pertemuan 6.ipynb
/project ADS pertemuan bonus.ipynb
/Project akhir
/rekap-tahun-1.csv
/rekap-tahun-2.csv
/rekap-tahun-3.csv
/test.ipynb
/test1.ipynb
/TUGAS.py
/used_cars_data.csv
/used_cars_data2.csv
/used_cars_data_10.csv